@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
    
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    background-color: rgb(149, 146, 146);
}

#title {
    font-family: "Secular One";
    align-self: center;
    font-size: 60px;
        
}

.buttonandcontainer{
    display: flex;
    align-items: center;
    padding-right: 350px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-right: 300px;
    
    
}



#slider-container{
    width: 25%;
}

.slider{
   
   width: 100%;
   height: 25px;
   background: #000000;
   outline: none;
   opacity: 0.7;
   -webkit-transition: .2s;
   transition: opacity .2s;
   cursor: pointer;
   border-radius: 20px;
}

.slider:hover{
opacity: 1;
}





     